*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
          box-sizing: inherit; 
        }

html,
body {
    height: 100%;
    color: #0C3E2E;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Kaisei Decol', serif; */
}
a {
    text-decoration: none;
    color: inherit; 
}
ul {
    list-style: none; 
}
button {
    border: none;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
}
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    background-image: url(../images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
}
.header__inner{
    min-height: 100vh;
}
.header-top{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}
.menu{
    
}
.menu__list{
    display: flex;
    gap: 0 30px;
}
.menu__link{
    text-transform: uppercase;
    font-size: 16px;
}
.phone{
    color: #BB8A52;
}
.header-content__inner{
    display: flex;
    justify-content: space-between;
    gap: 0 22px;
    padding-top: 63px;
}
.header-content__text{
    max-width: 510px;
}
.header-content__text span{
    color: red;
}
.header-content__title{
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    margin: 20px 0 80px;
    max-width: 427px;
}
.header-content-btn{

}