html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
          box-sizing: inherit; 
        }
html,
body {
    height: 100%;
    color: #0C3E2E;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Kaisei Decol', serif; */
}
.title{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
    color: inherit; 
}
ul {
    list-style: none; 
}
button {
    background-color: transparent;
    border: none;
    padding: 0;
}
.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
}
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    background-image: url(../images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-bottom: 150px;
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header-top{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}
.menu__list{
    display: flex;
    gap: 0 30px;
}
.menu__link{
    text-transform: uppercase;
    font-size: 16px;
}
.phone{
    color: #BB8A52;
}
.header-content__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 22px;
}
.header-content__text{
    max-width: 510px;
}
.header-content__text span{
    color: #CC2E2E;
}
.header-content__title{
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    margin: 20px 0 80px;
    max-width: 427px;
}
.header-content-btn{
    background-color: #FFBA00;
    padding: 20px 32px;
    display: inline-block;
    margin-top: 50px;
    font-size: 20px;
}
.header__text{
    font-size: 24px;
    text-align: center;
    padding: 25px 0;
}
.about{
    margin-bottom: 150px;
}
.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.about__inner-text {
    max-width: 506px;
    margin-bottom: 30px;
}
.about__inner-text span{
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 24px;
}
.about__inner-title {
    font-size: 28px;
    margin-bottom: 30px;
}
.about__inner-list {
    display: flex;
    gap: 0 30px;
    text-align: center;
    color: #BB8A52;
}
.about__inner-list dt{
    font-size: 48px;
    margin-bottom: 5px;
}
.why{
    margin-bottom: 150px;
}
.why__text{
    max-width: 580px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}
.why__inner{
    display: flex;
    align-items: center;
    gap: 22px;
}
.why__inner-list{
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 10px;
}
.why__inner-item::before{
    content: counter(my-counter);
    counter-increment: my-counter;
    padding-right: 5px;
}
.why__inner-item{
    font-size: 28px;
    font-weight: 600;
}
.why__inner-item + .why__inner-item{
    margin-top: 50px;
}
.why__inner-item.pl--60{
    padding-left: 60px;
}
.why__inner-item.pl--90{
    padding-left: 90px;
}
.projects{
    margin-bottom: 110px;
}
.projects__text{
    font-size: 28px;
    font-weight: 600;
    max-width: 593px;
    margin-bottom: 30px;
}
.projects__gallery{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.projects__gallery-item{
    gap: 20px;
}
.projects__gallery-text{
    text-align: center;
    padding: 20px 0 20px;
}
.gallery--item{
    grid-area: span 2;
}
.services{
    padding: 20px 0 40px;
    margin-bottom: 110px;
    background: rgba(109, 151, 115, 0.10);
}
.services__text{
    font-size: 28px;
    font-weight: 600;
    max-width: 587px;
    margin-bottom: 30px;
}
.services__list{
    display: flex;
    padding: 0 25px;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
}
.services__item-text{
    font-size: 24px;
    padding-top: 20px;
}
.prices{
    margin-bottom: 130px;
}
.prices__text{
    font-size: 28px;
    max-width: 730px;
    margin-bottom: 50px;
}
.prices__box{
    display: flex;
    gap: 22px;
}
.prices__list{
    padding: 60px 55px 88px;
    border: 2px solid #FFBA00;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prices__item-first{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}
.prices__item{
    font-size: 24px;
    max-width: 442px;
    text-align: left;
    margin-bottom: 10px;
}
.prices__item-sum{
    font-size: 36px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 94px;
}
.prices__item-sum sup{
    font-size: 16px;
    padding-bottom: 20px;
}
.prices__item-btn{
    font-size: 20px;
    display: block;
    padding: 20px;
    background-color: #FFBA00;
}
.work{
    margin-bottom: 150px;
}
.work__list{
    list-style-type: none;
    counter-reset: my-counter;
    max-width: 1070px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 15px;
}
.work__item{
    font-size: 28px;
    font-weight: 600;
    position: relative;
    line-height: 185px;
    padding-left: 64px;
}
.work__item::before{
    content: counter(my-counter, decimal-leading-zero);
    counter-increment: my-counter;
    font-size: 128px;
    font-family: 'Kaisei Decol', serif;
    color: rgba(109, 151, 115, 0.20);
    font-weight: 400;
    letter-spacing: -12px;
    position: absolute;
    left: 0;
}
.team{
    margin-bottom: 150px;
}
.team__text{
    font-size: 28px;
    margin-bottom: 50px;
}
.team__list{
    display: flex;
    justify-content: center;
    gap: 0 50px;
}
.team__item{
    width: 200px;
}
.team__item-img{
    border: 1px solid #FFBA00;
}
.team__item-name{
    padding: 10px 0 15px;
    text-align: center;
}
.team__item-descr{
    text-align: center;
}
.questions {
    margin-bottom: 110px;
}
.accordeon {
    column-count: 2;
    gap: 0 22px;
    
}
.questions__accordeon {
    
}
.accordeon__item {
    margin-bottom: 40px;
    width: 100%;
}
.accordeon__title {
    font-size: 24px;
    text-align: left;
    border: none;
    border-radius: none;
    cursor: pointer;
    margin-bottom: 15px;
    padding-right: 70px;
    position: relative;
    width: 90%;
}
.accordeon__title::after{
    content: '';
    position: absolute;
    background-image: url(../images/accordeon-arrow.svg);
    width: 15px;
    height: 26px;
    top: 3px;
    right: 50px;
}
.accordeon__descr {
    display: none;
}
.contact-form {
    margin-bottom: 150px;
}
.contact-form__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form__content {
}
.title {
}
.contact-form__text {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}
.form {
}
.form__text {
    margin-bottom: 15px;
}
.form__input {
    max-width: 520px;
    width: 100%;
    display: inline-block;
    border: none;
    border-bottom: 1px solid#0C3E2E;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 28px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}
.form__input::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #D9D9D9;
}
.form__btn {
    font-family: 'Inter', sans-serif;
    background-color: #FFBA00;
    display: inline-block;
    padding: 20px 41px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    cursor: pointer;
}
.form__link {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.form__link span{
    border-bottom: 1px solid #0C3E2E;
}
.form__link img{
    margin-left: 31px;
}
.contact-form__images {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form-img-3{
    grid-column: 1 / -1;
}
.contact-form-img {
    border-radius: 40px;
    border: 1px solid #FFBA00;
}